# Entornos virtuales
venv/
env/
.env/
__pycache__/
*.py[cod]

# Archivos de modelos grandes
*.pkl
*.joblib
*.h5

# Jupyter checkpoints
.ipynb_checkpoints/

# Configuraciones de IDEs
.vscode/
.idea/
*.DS_Store
